.panel {
  background-color: $taupe-super-light;
}

.panel h2 {
  font-size: 1.3rem;
  margin: 0.5em 0 0 0;
  color: $taupe-header;
}

.panel-primary {
  border-color: rgba($taupe-light, 0.4);
}

.panel-footer {
  background-color: rgba($taupe-light, 0.3);
}

.panel-primary > .panel-heading {
  color: #333;
  background-image: none;
  background-color: rgba($taupe-light, 0.4);
  // border: none;
  border-color: rgba($taupe-light, 0.5);
}

.well {
  background-image: none;
  background-color: rgba($taupe-light, 0.1);
  border-radius: 0;
}

/*******************/
/****  Search Box ******/
@media (max-width: 991px) {
  .panel {
    border: none;
    padding: 0;
  }
  .panel-body {
    padding: 0px;
  }
}