/* NYU theme LMH */

/* Red #C50FC3  197 15 60
Violet #57068C
Taupe dark #A49483
Taupe light B5ADA6   181, 173, 166
link red #D11255   */
$violet: #57068C;
$taupe-dark: #A49483;
$taupe-light: #B5ADA6;
$link-red: #D11255;

@import "partials/_search";
@import "partials/_tree";

html {
  font-size: 100%;
}

a:link,
a:visited {
  color: $link-red;
}

.navbar-inverse {
  background-image: none;
  background-color: $violet;
}

.brand h4 {
  color: $taupe-dark;
}

.breadcrumb.btn-success {
  background-color: white;
  border: none;
  box-shadow: none;
  background-image: none;
  padding-left: 0;
  margin: 10px 0 10px;
}

ol.breadcrumb li,
ol.breadcrumb li a {
  color: $taupe-dark;
  background-color: inherit;
  font-style: normal;
  font-weight: normal;
  text-shadow: none;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}

.homepage ol.breadcrumb {
  display: none;
}

.badge {
  background-color: rgba(181, 173, 166, 0.9);
}

.panel-primary {
  border-color: rgba(181, 173, 166, 0.4);
}

.panel-primary > .panel-heading {
  color: #333;
  background-image: none;
  background-color: rgba(181, 173, 166, 0.4);
  border: none;
  border-color: white;
}

.panel-default > .panel-heading {
  color: #333;
  background-image: none;
  background-color: rgba(181, 173, 166, 0.4);
  border: none;
  border-color: white;
}

.well {
  background-image: none;
  background-color: rgba(181, 173, 166, 0.3);
}

.recently-added .row {
  /*border: 1px solid blue;*/
}

.recently-added.container .col-md-4 {
  padding-right: 0;
}

.recently-added a {
  color: #666;
}

.recently-added article {
  /*border: 1px solid yellow;*/
  padding-top: 0;
}

.recently-added h1 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: .5em;
  margin-bottom: .1em;
}

footer.navbar {
  margin-bottom: 0;
}

.list-group-item:last-child {
  margin-bottom: 10px;
}

.navbar-form {
  padding: 0px 0 0 0;
}

.btn-primary {
  color: #fff;
  background-color: #A49483;
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#A49483), to(#8A7D6E));
  background-image: -webkit-linear-gradient(top, #A49483, 0%, #8A7D6E, 100%);
  background-image: -moz-linear-gradient(top, #A49483 0, #8A7D6E 100%);
  background-image: linear-gradient(to bottom, #A49483 0, #8A7D6E 100%);
  background-repeat: repeat-x;
  border-color: #8A7D6E;
}

.btn-primary:hover {
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#8A7D6E), to(#A49483));
  background-image: -webkit-linear-gradient(top, #8A7D6E, 0%, #A49483, 100%);
  background-image: -moz-linear-gradient(top, #8A7D6E 0, #A49483 100%);
  background-image: linear-gradient(to bottom, #8A7D6E 0, #A49483 100%);
  background-repeat: repeat-x;
  border-color: #8A7D6E;
}

.homepagesearch h1 {
  color: #8A7D6E;
  margin: 0;
  font-size: 1.1rem;
}

.col-md-12 {
  /*padding: 0;*/
}

.brand {
  /*padding-top: 30px;*/
  /* font-weight: bold;*/
  font-size: 1rem;
  /* color: #A49483;*/
  max-width: 44em;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-bottom a {
  color: #ddd;
}

header div.navbar-right {
  margin-top: 10px;
}

.listofcommunities h3 a {
  color: #333;
}

.communityflag {
  background-color: rgba(181, 173, 166, 0.2);
  display: inline-block;
  margin-top: -15px;
  margin-left: -15px;
  a {
    display: inline-block;
    color: #A49483;
    padding: 0 15px;
  }
  span {
    display: none;
  }
}

.homepagesearch {
  margin-top: 30px;
}

/*******************/
/****  Search Box ******/
@media (max-width: 991px) {
  .panel {
    border: none;
    padding: 0;
  }
  .panel-body {
    padding: 0px;
  }
}

.discovery-pagination-controls {
  .form-group-flex {
    /*background-color: pink;*/
    margin-bottom: 15px;
  }
  .form-flex-item {
    /*  background-color: red;*/
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    /*border-right: 1px solid brown;*/
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.form-group-flex {
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}

/*******************/
@media (min-width: 0em) and (max-width: 991px) {
  .container > .navbar-header, .container > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
  }
  .navbar-collapse {
    max-height: none;
  }
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #2D0054;
  }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #2D0054;
  }
  .navbar-header {
    background: transparent url("/ux/fda/image/nyu_fda_logo_concise.svg") no-repeat 0px center;
  }
  .navbar-header img {
    opacity: 0.0;
    width: 200px;
  }
  .navbar-toggle {
    margin-top: 15px;
  }
  header div.navbar-right {
    margin-left: 0;
  }
}